@import '../../app/sass/libs/variables';

.form {
    margin: 0 auto;
    margin-top: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    transition: 0.2s;
    &:hover {
        color: $hoverPrimaryColor;
    }
}
