@import '../../app/sass/libs/variables';

.table {
    margin-top: 20px;
}

.short {
    text-align: center;
    width: 50px;
}

.base {
    width: 200px;
}

.descr {
    width: 700px;
}

.link {
    color: $primaryColor;
    &:hover {
        text-decoration: underline;
    }
}
