.form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 28px;
    margin-bottom: 10px;
}

.info {
    margin: 3px 0 15px;
    font-weight: normal;
    &:last-child {
        border: none;
    }
}
