.footer {
    border-top: #b8b8b8 solid 1px;
    margin-top: 80px;
    padding: 40px 0 30px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.item {
    margin-bottom: 10px;
}

.main {
    font-weight: 700;
}

.copyrights {
    margin-top: 30px;
    text-align: center;
}
