.card {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    padding: 318px 20px 25px;
    width: 289px;
    // min-height: 462px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s;
    &:hover {
        transform: scale(1.02);
    }
}

.img {
    position: absolute;
    width: 290px;
    height: 290px;
    object-fit: cover;
    border-radius: 10px;
    top: 0;
    left: 0;
}

.category {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #b8b8b8;
    font-weight: normal;
}

.buy {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.price {
    font-size: 27px;
}

.active {
    padding: 0 5px;
    background-color: #b5cde7;
}

.oldPrice {
    font-size: 16px;
    color: #b8b8b8;
    text-decoration: line-through;
}

.btn {
    width: 125px;
}
